 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light-about">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-lg-offset-2">
                    <p>Hey! I'm Jeremy.<br/><br/>
                    I'm currently studying Computer Science at Princeton University with a minor in Creative Writing. I have experience as a Software Engineering Intern at Capital One, a Data Science Intern at the Auditory Cognition Lab in Newcastle, and a Computer Science Course Grader.
                    <br/><br/>
                    When I'm not coding, I love to dance in hip-hop and breaking styles, write poetry, and play guitar and piano.</p>
                </div>
                <!--
                <div class="col-lg-3">
                    <p>Links here.</p>
                </div>
                    div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Theme
                    </a>
                </div>
                -->
            </div>
        </div>
    </section>
