 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light-about">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <p align = "center">Hey! I'm Jeremy.</p>
                    <p>
                    <br/>
                    I'm currently studying Computer Science at Princeton University 
                    with a minor in Creative Writing. I'm primarily interested in 
                    machine learning, data science, and the intersection of software 
                    engineering and civic engagement.
                    <br/><br/>
                    I have experience as a Software Engineering Intern at Capital One, 
                    a Data Science Intern at the Auditory Cognition Lab in Newcastle, 
                    and a Computer Science Course Grader.
                    <br/><br/>
                    When I'm not coding, I love to dance in hip-hop and breaking styles, 
                    write poetry, and play guitar and piano. See some of my work below in
                    both software and the arts!
                    </p>
                </div>
                
                <!--
                <div class="col-lg-3">
                    <a href="https://www.linkedin.com/in/jeremy-pulmano/" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> LinkedIn
                    </a>
                </div>
                <div>
                    div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Theme
                    </a>
                </div>
                -->
            </div>
        </div>
    </section>
